name: Build and Release Windows EXE

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build and publish
        run: npx electron-builder --win --publish=always
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
